//Responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Tipografía
$primary-font: "Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;

/*Big Shoulders Display: h1, h2, links*/
/*Outfit: Descripción*/

//Sizes container
$max-width-container: 1920px;

//Colores
$fondo_general: white;
$titulo: #151515;
$subtitulo: #444444;
$typo-link: white;
$flecha-link: #d5966c;
$cuerpo-link: #151515;
