@use "../abstracts/variables";
@use "../abstracts/mixins";

.header__container {
  max-width: 1275;
  margin-left: auto;
  margin-right: auto;

  &-imagen {
    max-width: 100%;
    padding-bottom: 32px;
  }
  h1 {
    color: variables.$titulo;
    font-size: 60px;
    font-weight: 800;
    line-height: 55px;
    padding-left: 16px;
    padding-right: 85px;
    padding-bottom: 32px;
  }
  h2 {
    font-family: variables.$secondary-font;
    font-size: 18px;
    font-weight: normal;
    color: variables.$subtitulo;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  @include mixins.breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    position: relative;
    height: 700px;

    &-imagen {
      max-width: 437px;
      height: 700px;
      padding-bottom: 0px;
    }
    &-desc {
      position: absolute;
      top: 20%;
      left: 50%;
      h1 {
        font-size: 70px;
        line-height: 70px;
        padding-right: 50px;
      }
    }
    &-boton {
      position: absolute;
      top: 47%;
      left: 50%;
      h2 {
        padding-left: 0px;
        padding-bottom: 48px;
      }
    }
  }

  @include mixins.breakpoint(desktopxl) {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 0px;
    padding-right: 164px;
    //max-width: 100%;
    height: 800px;
    margin-bottom: 180px;

    &-imagen {
      max-width: 540px;
      height: 800px;
      padding-left: 450px;
      background-color: variables.$titulo;
      padding-bottom: 0px;
    }
    &-desc {
      position: absolute;
      top: 23%;
      left: 12.5%;
      h1 {
        font-size: 96px;
        line-height: 96px;
        padding: 0;
        width: 435px;
        color: variables.$typo-link;
      }
    }
    &-boton {
      position: absolute;
      top: 24%;
      left: 64%;
      h2 {
        font-size: 20px;
        padding-left: 0px;
        padding-bottom: 64px;
        width: 320px;
      }
    }
  }
}

.header-loc__container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  position: relative;

  &-imagen {
    max-width: 200%;
    height: 550px;
    position: absolute;
    left: -44%;
  }
  h1 {
    color: variables.$titulo;
    font-size: 60px;
    font-weight: 800;
    line-height: 55px;
    padding-left: 16px;
    padding-right: 85px;
    margin-bottom: 32px;
  }
  h2 {
    font-family: variables.$secondary-font;
    font-size: 18px;
    font-weight: normal;
    color: variables.$subtitulo;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
  }

  @include mixins.breakpoint(tablet) {
    height: 600px;
    &-imagen {
      left: 0%;
      height: 600px;
    }
  }

  @include mixins.breakpoint(desktopxl) {
    height: 600px;

    &-imagen {
      height: 600px;
    }
  }
}
