@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 25px;
  &-seccion1 {
    img {
      max-width: 100%;
    }
    h1 {
      font-family: variables.$primary-font;
      font-size: 50px;
      font-weight: 900;
      line-height: 45px;
      color: variables.$titulo;
      text-transform: uppercase;
      padding: 48px 24px 0px 24px;
      margin-bottom: 21px;
    }
    h2 {
      font-family: variables.$secondary-font;
      font-size: 18px;
      color: variables.$titulo;
      font-weight: normal;
      padding-left: 24px;
      padding-bottom: 47px;
    }
  }
  &-seccion2 {
    img {
      max-width: 100%;
    }
    h1 {
      font-family: variables.$primary-font;
      font-size: 50px;
      font-weight: 900;
      line-height: 45px;
      color: variables.$typo-link;
      text-transform: uppercase;
      padding: 48px 24px 21px 24px;
    }
    h2 {
      font-family: variables.$secondary-font;
      font-size: 18px;
      color: variables.$typo-link;
      font-weight: normal;
      padding-left: 24px;
      padding-bottom: 47px;
    }
    img {
      padding-bottom: 16px;
    }
    &-info {
      background-color: variables.$titulo;
    }
  }
  @include mixins.breakpoint(tablet) {
    &-seccion1 {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 11px;
      //padding-left: 23px;

      &-desc {
        max-width: 35%;
        padding-right: 68px;
      }
    }
    &-seccion2 {
      display: grid;
      grid-template-columns: 54% 44%;
      grid-template-rows: 50% 50%;
      gap: 11px;
      margin-bottom: 120px;

      .img1 {
        grid-row: 1 / span 2;
        img {
          height: 100%;
        }
      }
      .img2 {
        img {
          max-width: 100%;
          height: 100%;
        }
      }
      &-info {
        h1 {
          padding: 85px 28px 24px 29px;
        }
        h2 {
          padding: 0px 63px 85px 29px;
        }
      }
    }
  }
  @include mixins.breakpoint(desktopxl) {
    padding-left: 165px;
    padding-right: 164px;
    margin-bottom: 180px;
    &-seccion1 {
      margin-bottom: 30px;
      &-img img {
        max-width: 100%;
        max-height: 400px;
      }
      &-desc {
        padding-right: 125px;
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
        h2 {
          font-size: 20px;
          line-height: 30px;
          padding-right: 35px;
        }
      }
    }
    &-seccion2 {
      grid-template-columns: 58% 39%;
      grid-template-rows: 43% 53%;
      gap: 30px;
      max-height: 720px;

      .img1 {
        img {
          width: 635px;
          height: 720px;
        }
      }
      .img2 {
        img {
          width: 445px;
          height: 313px;
        }
      }
      &-info {
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
        h2 {
          font-size: 22px;
          padding-right: 10px;
          padding-bottom: 32px;
        }
      }
    }
  }
}

.hero-loc__container {
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
  background-color: variables.$titulo;
  h1 {
    font-family: variables.$primary-font;
    color: variables.$typo-link;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 48px;
  }
  &-add {
    h2 {
      font-family: variables.$primary-font;
      font-size: 32px;
      color: variables.$flecha-link;
      font-weight: 800;
      padding-bottom: 20px;
    }
    div.direccion,
    div.desc {
      padding-bottom: 20px;
      p {
        font-family: variables.$secondary-font;
        font-size: 18px;
        font-weight: normal;
        color: variables.$typo-link;
      }
    }
  }

  @include mixins.breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    padding: 88px 40px 80px 39px;
    h1 {
      padding-right: 43px;
    }
  }

  @include mixins.breakpoint(desktopxl) {
    padding: 104px 165px 128px 165px;
    gap: 215px;
    h1 {
      font-size: 60px;
      line-height: 60px;
    }
    &-add {
      h2 {
        font-size: 36px;
        text-transform: uppercase;
      }
      div.direccion,
      div.desc {
        p {
          font-size: 22px;
        }
      }
    }
  }
}
